[Unit]
Description=OsmInEdit

[Service]
WorkingDirectory=/home/spim/src/OsmInEdit
ExecStart=/bin/bash -lc 'npm start'

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=OsmInEdit
User=root
Group=root
#User=<alternate user>
#Group=<alternate group>
#Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target
